    .bar {
        height: 100px;
    }
    
    .bar h3 {
        margin-top: 30px;
        box-sizing: border-box;
    }
    
    th,
    td,
    tr {
        margin: 5px;
        padding: 10px;
        box-sizing: border-box;
    }
    
    .cox {
        height: 350px;
        overflow: scroll;
    }
    
    img {
        border-radius: 10px;
    }
    
    .resumen div {
        padding: 10px;
        box-sizing: border-box;
    }
    
    .resumen div div {
        padding: 10px;
        box-sizing: border-box;
    }